keybinds clear-defaults=true {
    normal {
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }

        bind "Alt Enter" { NewTab; }
        bind "Alt c" { CloseTab; }

        bind "Alt j" { ScrollDown; }
        bind "Alt k" { ScrollUp; }

        bind "Alt d" { HalfPageScrollDown; }
        bind "Alt u" { HalfPageScrollUp; }

        bind "Alt f" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }

        bind "Alt Shift h" { MoveTab "left"; }
        bind "Alt Shift l" { MoveTab "right"; }

        bind "Alt q" { Detach; }
    }
}

plugins {
    bar location="file:/home/jofre/.config/zellij/plugins/bar.wasm"

    session-manager location="zellij:session-manager"
}

load_plugins {
    "file:/home/jofre/.config/zellij/plugins/bar.wasm"
}
 
simplified_ui true
theme "gruvbox-dark"
default_mode "normal"
default_shell "fish"
pane_frames false
copy_command "wl-copy"
session_name "default"
attach_to_session true
show_startup_tips false
