keybinds clear-defaults=true {
    normal {
        bind "Super 1" { GoToTab 1; }
        bind "Super 2" { GoToTab 2; }
        bind "Super 3" { GoToTab 3; }
        bind "Super 4" { GoToTab 4; }
        bind "Super 5" { GoToTab 5; }
        bind "Super 6" { GoToTab 6; }
        bind "Super 7" { GoToTab 7; }
        bind "Super 8" { GoToTab 8; }
        bind "Super 9" { GoToTab 9; }

        bind "Super Enter" { NewTab; }
        bind "Super q" { CloseFocus; }

        bind "Super d" { HalfPageScrollDown; }
        bind "Super u" { HalfPageScrollUp; }

        bind "Super Left" { MoveTab "left"; }
        bind "Super Right" { MoveTab "right"; }

        bind "Super v" { NewPane "Right"; }
        bind "Super c" { NewPane "Down"; }
          
        bind "Super h" { MoveFocus "Left"; }
        bind "Super j" { MoveFocus "Down"; }
        bind "Super k" { MoveFocus "Up"; }
        bind "Super l" { MoveFocus "Right"; }

        bind "Super Shift h" { Resize "Left"; }
        bind "Super Shift j" { Resize "Down"; }
        bind "Super Shift k" { Resize "Up"; }
        bind "Super Shift l" { Resize "Right"; }

        bind "Super Ctrl h" { MovePane "Left"; }
        bind "Super Ctrl j" { MovePane "Down"; }
        bind "Super Ctrl k" { MovePane "Up"; }
        bind "Super Ctrl l" { MovePane "Right"; }

        bind "Super Shift q" { Detach; }
    }
}

plugins {
}

load_plugins {
}
 
simplified_ui true
theme "rose-pine-moon"
default_mode "normal"
default_shell "fish"
pane_frames false
copy_command "wl-copy"
session_name "default"
attach_to_session true
show_startup_tips false
